{% extends '::base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Rain</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.rain }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}